# Database
DATABASE_URL="postgresql://user:password@localhost:5432/cinetaste?schema=public"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# TMDB API (The Movie Database)
TMDB_API_KEY="your-tmdb-api-key-here"
TMDB_API_BASE_URL="https://api.themoviedb.org/3"
